.uk-textarea {
    font-size : 10px;
    height : 160px;
}

body, .uk-button, .uk-pannel, #mediaPannel, .uk-label {
    font-size : 11px;
}

textarea {
    overflow-y:scroll;
    height : 100px;
    resize : none;
}

.uk-label {
    pointer-events: auto !important;
    cursor: pointer;
 }

 #address, #downloadPath {
     font-size : 11px;
 }

 .icon:hover, #addMP3:hover, #addMP4:hover {
     background-color : gray;
 }

 .uk-label:hover {
     background-color: gainsboro;
 }

.downloading {
    background-color: rebeccapurple !important;
    color:white !important;
}

.done {
    background-color: cyan !important;
    color:black !important;
}

.uk-grid+.uk-grid-small {
    margin-top : 8px;
}